* {
    padding: 0;
    margin: 0;
    font-family: 'poppins',

}

.main {
    width: 450px;
    height: 550px;
    background-color: #b28eb4;
    position: absolute;
    border: 7px solid #57265a;
    border-radius: 6px;
}

body {
    background-color: #6d0940;
    ;
    display: grid;
    height: 100vh;
    place-items: center;
}

.mains input[type='text'] {
    width: 88%;
    position: relative;
    height: 80px;
    top: 5px;
    text-align: right;
    padding: 3px 6px;
    outline: none;
    font-size: 40px;
    border: 5px solid #0c10ff;
    display: flex;
    margin: auto;
    border-radius: 6px;
    color: #23d132;
}

.btn input[type='button']{
    width: 95px;
    padding: 2px;
    margin: 2px 5px;
    position: relative;
    left: 13px;
    top: 20px;
    height: 60px;
    cursor: crosshair;
    font-size: 25px;
    transition: 0,5s;
    background-color: #d82f18;
    border-radius: 100px;
    color: #000000;
}

.btn input[type='button']:hover{
    background-color: #490303;
    color: #ffffff;
}